inputHandler_API_PORT=
statusChecker_API_PORT=
alarmHandler_API_PORT=
intrAction_API_PORT=
mainAction_API_PORT=
subaction_API_PORT=
streaning_API_PORT=
objectDetector_API_PORT=
runeSolver_API_PORT=
agentServer_API_PORT=
ARDUINO_IP=
ARDUINO_PORT=
OPENAI_API_KEY=